.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
}

.home {
    padding-top: 10vh;
    padding-bottom: 1vh;
    height: fit-content;
    width: 100%;
    position: relative;
    background-color: rgba(12, 4, 42, 0.8);
}

.home::before {
    content: "";
    background-image: url('../../assets/generalbg.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -1;
}

.loading {
    font-size: 3rem;
    font-weight: 600;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}